<form autocomplete="off"
      class="saisie-form hide-validation-errors"
      *ngIf="pronostic">
  <div class="block">
    <mat-form-field class="input-50 first-input">
      <input matInput
             [matDatepicker]="dateDebutPicker"
             placeholder=" Date de création"
             readonly
             required
             #debutDate="ngModel"
             (focus)="dateDebutPicker.open()"
             [(ngModel)]="pronostic.creationDate"
             name="dateDebutPicker">
      <mat-datepicker-toggle matSuffix [for]="dateDebutPicker" color="accent"></mat-datepicker-toggle>
      <mat-datepicker #dateDebutPicker color="accent"></mat-datepicker>
    </mat-form-field>
  </div>
  <ul>
    <li *ngFor="let match of pronostic.matchs">
      <details-match
        [match]="match"
        [pronoStatus]="pronostic.status"
        [isAdmin]="true"
        [isDetails]="true"
        (removeEmit)="removeMatch($event)">
      </details-match>
    </li>
  </ul>
  <div class="block">
    <a class="link-add-match"(click)="showPopinAddMatch()">
      Ajouter un {{ this.pronostic.matchs.length > 0 ? 'autre ' : ''}}match
    </a>
  </div>
  <div class="d-flex flex-column bg-dark p-3" *ngIf="pronostic.matchs.length > 0">
    <div class="d-flex flex-row me-2">
      <mat-form-field class="input-30 flex-grow-1">
        <input matInput
               placeholder="Mise en %"
               [(ngModel)]="pronostic.mise"
               (input)="changeMisePourCentage()"
               #mise="ngModel"
               maxlength="3"
               name="mise"
               required
               type="number">
        <p class="error required"
           *ngIf="mise.errors?.['required']">
          La mise est obligatoire
        </p>
        <p class="error format"
           *ngIf="mise.errors?.['maxLength']">
          La mise est trop importante
        </p>
      </mat-form-field>
      <mat-form-field class="input-30 px-2">
        <input matInput
               placeholder="Mise en €"
               [(ngModel)]="miseEuro"
               (input)="changeMise()"
               maxlength="3"
               name="miseEuro"
               required
               type="number">
      </mat-form-field>
    </div>
    <div class="d-flex flex-row text-center  flex-grow-1 align-items-center justify-content-center flex-fill">
      <div class="d-flex flex-column text-center me-4">
        <label class="text-secondary">Cote&nbsp;total</label>
        <span class="cote-total rounded-circle border border-secondary text-white py-3">{{pronostic.calculCoteTotal}}</span>
      </div>
      <div class="d-flex flex-column mx-3">
        <label class="text-secondary">Bankroll</label>
        <span class="bankroll text-white">{{pronostic.bankroll}} €</span>
        <label class="text-secondary">Bénéfice</label>
        <span class="gain text-success "> + {{gain}} €</span>
      </div>
    </div>
  </div>
  <div div class="d-flex flex-column my-3 p-3 bg-dark">
    <div class="line ">
      <mat-form-field>
        <mat-select placeholder="Type"
                    [(ngModel)]="pronostic.privacy"
                    name="privacy"
                    #privacy="ngModel"
                    required>
          <mat-option *ngFor="let value of LIST_PRIVACY"
                      [value]="value">
            {{value.label}}
          </mat-option>
        </mat-select>
        <mat-error class="error required"
                   *ngIf="privacy.errors?.['required']">
          Le type est obligatoire
        </mat-error>
      </mat-form-field>
      <mat-checkbox [checked]="pronostic.fun"
                    [(ngModel)]="pronostic.fun"
                    name="fun">
        <span class="span-white">Pronostic Fun</span>
      </mat-checkbox>
    </div>
  </div>
  <form [formGroup]="form"  class="block" style="max-width: 100%!important">
    <h6 class="text-secondary">Description</h6>
    <ngx-editor-menu
      [editor]="editor"
      [toolbar]="toolbar"
    >
    </ngx-editor-menu>
    <div class="block block-form-description">
    <ngx-editor
      [editor]="editor"
      class="bg-dark"
      name="editorContent"
      formControlName="description"
      [disabled]="false"
      [placeholder]="''"
    ></ngx-editor>
    </div>
    <mat-error *ngIf="hasError('description', 'maxLength')">La description est trop grande</mat-error>
  </form>
  <div class="block block-upload">
    <file-base64
      class="d-block"
      [lblButton]="getLabelUpload()"
      onclass="add-prono"
      [allowedMimeTypes]="[ 'image/jpeg', 'image/png', 'image/gif' ]"
      [allowedExtensions]="[ 'JPEG', 'JPG', 'PNG', 'GIF' ]"
      [maxFileSize]="MAX_LOGO_SIZE"
      (fileRead)="changeLogo($event)"
      [isDisabled]="false">
    </file-base64>
    <ng-container *ngIf="getUrlImage()">
      <img class="image" [src]="getUrlImage()" alt="image">
    </ng-container>
  </div>
</form>
<div class="action">
  <button mat-stroked-button
          color="warn"
          name="back"
          class="prev"
          (click)="back()"
          type="button">
    Retour
  </button>
  <button mat-flat-button
          color="accent"
          name="suivant"
          class="next"
          (click)="isFormValid() && submit()"
          type="button">
    Valider
  </button>
</div>
