@import '../../css/colors';


.logo-user {
  margin: 0 10px;
}

span.mat-button-wrapper {
    font-size: 0.8em;
}

.mat-card-avatar {
  padding: 5px;
}

.block {
  background: $COLOR_BLACK_LIGHT;
  margin: 1em 0 0 1em;
}

mat-card-title, h2 {
  color: $COLOR_ORANGE_DARK;
}

mat-card-header {
  overflow: hidden;
}

mat-card-subtitle a {
  color: orange;
}

h2 {
  font-weight: 500;
}

