img {
  width: 9em;
}

p.no-result {
  margin-top: 1em;
}

div.block2 {
  background: none;
  text-align: center;

  mat-card-actions a {
    font-size: 1em;
    padding: 1em 0.5em;
    width: 3em;
    margin: 0 auto 0 auto;
    display: block;
  }

  .abo-description {
    font-style: italic;
  }

  mat-card-subtitle, button {
    color: orange;
  }

  .mat-card {
    color: white;
    display: inline-block;
    background: #242424;
    margin: 0.5em 1em;
    max-width: 22em;
  }

  mat-card-actions, mat-card-content {
    text-align: center;
    margin-bottom: 0;
  }

  mat-card-actions {
    padding: 0;
  }

  .picto-price {
    width: 15px;
    height: 15px;
    border: 2px solid orange;
    border-radius: 30px;
    padding: 22px 10px;
  }

  .btn-ajouter {
    margin: 0.5em;
  }
}

@media only screen and (min-width: 951px) {

  div.block {
    width: auto;
  }

  mat-card {
    width: 17em;
  }

  .description-auth {
    max-width: 60em;
  }
}

