<!--<form [formGroup]="groupForm" (ngSubmit)="onSubmit()" *ngIf="globalParams">
  <mat-accordion multi>
    <mat-expansion-panel class="block" [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Contacts
        </mat-panel-title>
        <mat-icon>contact_mail</mat-icon>
      </mat-expansion-panel-header>

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="mail" [errorStateMatcher]="matcher" required>
        <mat-error *ngIf="hasError('mail', 'email') && !hasError('mail', 'required')">
          Veuillez saisir une adresse email valide
        </mat-error>
        <mat-error *ngIf="hasError('mail', 'required')">
          Veuillez saisir une adresse email
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email Coorporation</mat-label>
        <input matInput formControlName="mailCoorporation" required>
        <mat-error *ngIf="hasError('mailCoorporation', 'email') && !hasError('mailCoorporation', 'required')">
          Veuillez saisir une adresse email valide
        </mat-error>
        <mat-error *ngIf="hasError('mailCoorporation', 'required')">
          Veuillez saisir une adresse email
        </mat-error>
      </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel class="block" [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Bankroll
        </mat-panel-title>
        <mat-icon>attach_money</mat-icon>
      </mat-expansion-panel-header>
      <mat-form-field>
        <mat-label>Bankroll de départ</mat-label>
        <input matInput formControlName="bankrollDepart" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Bankroll courante</mat-label>
        <input matInput formControlName="bankrollCurrent">
      </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel class="block" [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Réseaux sociaux
        </mat-panel-title>
        <mat-icon>public</mat-icon>
      </mat-expansion-panel-header>
      <p>
        <img src="assets/icons/snapchat.svg" alt="snapchat" matTooltip="Snapchat"/>
        <mat-form-field>
          <mat-label>URL Snapchat</mat-label>
          <input matInput formControlName="urlSnapchat">
        </mat-form-field>
      </p>
      <p>
        <img src="assets/icons/telegram.svg" alt="telegram" matTooltip="Telegram"/>
        <mat-form-field>
          <mat-label>URL Telegram</mat-label>
          <input matInput formControlName="urlTelegram">
        </mat-form-field>
      </p>
      <p>
        <img src="assets/icons/instagram.svg" alt="instagram" matTooltip="Instagram"/>
        <mat-form-field>
          <mat-label>URL Instagram</mat-label>
          <input matInput formControlName="urlInstagram">
        </mat-form-field>
      </p>
      <p>
        <img src="assets/icons/facebook.svg" alt="facebook" matTooltip="Facebook"/>
        <mat-form-field>
          <mat-label>URL Facebook</mat-label>
          <input matInput formControlName="urlFacebook">
        </mat-form-field>
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel class="block" [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Bookmakers
        </mat-panel-title>
        <mat-icon> money</mat-icon>
      </mat-expansion-panel-header>

      <div formArrayName="bookmakers"
           *ngFor="let item of getControls().controls; let i = index;">
        <img class="img-bookmaker"[src]="item.value.urlLogo" [alt]="item.value.name"/>
        <div [formGroupName]="i">

          <mat-form-field>
            <mat-label>Nom</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput formControlName="description">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Lien</mat-label>
            <input matInput formControlName="url">
          </mat-form-field>
        </div>

      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="action">
    <button mat-flat-button
            color="accent"
            name="btn-valider"
            type="submit">
      Enregistrer
    </button>
  </div>
</form>-->

<div class="d-flex d-rows m-2 m-sm-4">
  <ul class="me-2 list-unstyled text-secondary bg-dark w-25 shadow rounded-2">
    <li class="p-2 p-sm-4 pointer" (click)="goToUrl(['administration', 'parametres', 'contacts'])">Contacts</li>
    <li class="p-2 p-sm-4 pointer" (click)="goToUrl(['administration', 'parametres', 'reseaux-sociaux'])">Réseaux</li>
    <li class="p-2 p-sm-4 pointer" (click)="goToUrl(['administration', 'parametres', 'bankroll'])">Bankroll</li>
    <li class="p-2 p-sm-4 pointer" (click)="goToUrl(['administration', 'parametres', 'bookmakers'])">Books</li>
  </ul>
  <div class="content w-75 rounded-2 flex-grow-1">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>
