@import "../../../../css/colors";

div.mat-dialog-actions {
  padding: 0;
}

div, h1 {
  text-align: center;
  display: block;
}

h1 {
  color: $COLOR_ORANGE_DARK;
}

div.content-popin-confirm {
  margin-bottom: 1em;
}

p {
  text-align: center;
  font-size: 2em;
  margin: 5px;
  font-weight: 700;
}
