@import "../../../css/colors";

.no-member {
  font-style: italic;
  color: lightgray;
  text-align: center;
  font-weight: 600;
  font-size: 0.9em;
}

h3 {
  text-align: center;
}

.block-vip {

  padding-top: 0;

  img {
    width: 5em;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  label {
    color: white;
  }
}

.block {
  text-align: center;
  background: #242424;
  width: 22em;
  margin: 1em auto;
  padding: 1em;

  .expire-vip-label {
    display: block;
    color: orange;
    font-size: 0.8em;
    font-style: italic;
    margin-top: 5px;
  }

  button.btn-add-vip {
    color: white;
  }

  .line {
    display: block;
    width: 100%;
    margin: 0.5em 0;

    mat-icon,
    label,
    button,
    span {
      display: inline-block;
      vertical-align: middle;
    }

    span {
      width: 6em;
      padding: 0 4px;
      color: orange;
    }

    mat-icon {
      width: 1em;
      color: orange;
    }

    label {
      color: #5f686f;
      padding: 0 1em;
      width: calc(100% - 10em);
      text-align: left;
      margin: 0;
    }

    button {
      color: white;
      margin: 0;
      font-size: 0.8em;
      width: 8em;
    }
  }
}

div.option-compte {
  background: #242424;
  width: 22em;
  color: white;
  margin: 1em auto;
  padding: 1em;

  .btn-delete {
    background: #ff0000c7;
    color: white;
  }

  .btn-logout {
    float: right;
  }

  mat-icon {
    margin: 0 5px 3px 0;
  }

  .btn-delete:hover,
  .btn-logout:hover {
    background: rgba(255, 255, 255, 0.12);
  }
}
