
div.block {
  max-width: 23em;
  margin: 1em auto 0 auto;
  padding: 16px;

  h3 {
    text-align: center;
  }
  mat-icon.back {
    border: 1px solid;
    padding-top: 2px;
    padding-left: 1px;
    size: 22px;
    width: 30px;
    height: 30px;
    margin-top: 2px;
    cursor: pointer;
    position: absolute;
    left: 25px;
    &:hover {
      background: #191919;
    }
  }

  .no-com {
    display: block;
    color: lightgray;
    font-size: 0.9em;
    text-align: center;
  }

  &.ajouter {
    padding-top: 5px;
  }

  &.chat {
    max-height: 15em;
    overflow: auto;
    margin-top: 0;
  }

  textarea {
    background: #242424;
    margin: 1em auto;
    padding: 1em;
    border-color: #242424;
    color: lightgray;
    width: calc(100% - 2em);
  }

  div.commentaire {
    margin: 0.5em 0;
    background: #2f2c2c;
    padding: 10px 5px;
    border-radius: 10px;

    img {
      width: 3em;
      vertical-align: top;
      display: inline-block;
      border-radius: 25px;
    }

    .content-message {
      display: inline-block;
      width: calc(100% - 4em);
      margin-left: 0.5em;
      word-wrap: break-word;


      .pseudonyme {
        color: orange;
        display: block;
        margin-bottom: 5px;
      }

      .message {
        display: block;
        color: lightgray;
        font-size: 0.9em;
      }
    }
  }

  button {
    color: white;
  }
}



@media only screen and (min-width: 0) and (max-width: 750px) {


}


