@import "../../css/colors";
/*
.gestion-abonnements {
  text-align: center;
}

.message-vip {
  color: white;
  display: block;
  text-transform: uppercase;
}

button.btn-add-vip {
  display: block;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

.mat-card-code-prono {
  text-align: center;
}

.btn-add-code-prono {
    color: orange;
    border: 1px solid orange;
}

.picto-vip {
  width:100px;
}

div.block {
    background: #4c4c4c;
    margin: auto;
}

.block {
  background: #242424;
  margin: 1em 0;
}

.mes-informations {
  display: inline-block;
}

.col1,
.col2,
.col3 {
  display: inline-block;
  vertical-align: top;
}

.col1,
.col2 {
  min-width: 22em;
  max-width: 22em;

  .suivre img {
    display: inline-block;
    width: 15%;
    margin: 1% 5%;
    cursor: pointer;
  }
}

.col3 {
  width: calc(100% - 44em);
  min-width: 14em;
}


@media only screen and (min-width: 0) and (max-width: 750px) {

}

@media only screen and (min-width: 750px) and (max-width: 950px) {

  .col3,
  .col1 {
    display: none;
  }
}

@media only screen and (min-width: 951px) {

  .col1, .col3 {
    width: 20%;
    min-width: 20%;
    max-width: 20%;
  }

  .col2 {
    width: 46%;
    min-width: 46%;
    max-width: 46%;
  }

  .suivre img {
    width: 10%;
    margin: 1% 7%;
  }
}
*/


.btn-add-code-prono {
  color: orange;
  border: 1px solid orange;
}


.pagination {

  button {
    border-radius: 5px;
    border: 1px solid $COLOR_ORANGE_DARK;
    color: white;
    background: $COLOR_ORANGE_DARK;
    vertical-align: middle;
    margin: 0 1em;

    &:hover {
      background: rgba(255, 255, 255, 0.12);
      color: $COLOR_ORANGE_DARK;

    }
  }

}
