
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1 class="title-app" (click)="goToUrl(['home'])"></h1>
    <h4 class="title-page">{{ title }}</h4>
    <!-- <img src="assets/icons/logo.png" alt="logo"/>-->
    <mat-icon  class="icon-menu admin"
               mat-icon-button
               *ngIf="tokenStorage?.isValid()
               && (tokenStorage.getUser()?.hasProfilAdmin() || tokenStorage.getUser()?.hasProfilSuperAdmin())"
               [matMenuTriggerFor]="menuAdmin" aria-label="icon-button menu">more_vert
    </mat-icon>
    <mat-menu #menuAdmin="matMenu">
      <button mat-menu-item
              name="btn-go-to-url"
              *ngIf="tokenStorage.getUser()?.hasProfilSuperAdmin()"
              (click)="goToUrl(['administration', 'parametres', 'contacts'])">
        <mat-icon color="primary">build</mat-icon>
        Paramètres
      </button>
      <button mat-menu-item
              name="btn-ext"
              (click)="goToUrl(['administration', 'pronostics'])">
        <mat-icon color="primary">extension</mat-icon>
        Publications
      </button>
      <button mat-menu-item
              name="btn-user-circle" (click)="goToUrl(['administration', 'utilisateurs'])"
              *ngIf="tokenStorage.getUser()?.hasProfilAdmin()">
        <mat-icon color="primary">supervised_user_circle</mat-icon>
        Joueurs
      </button>
      <button mat-menu-item
              name="btn-star-half"
              (click)="goToUrl(['administration', 'codeVIP'])"
              *ngIf="tokenStorage.getUser()?.hasProfilAdmin()">
        <mat-icon  color="primary">star_half</mat-icon>
        Codes VIP
      </button>
      <button mat-menu-item
              name="btn-drama"
              *ngIf="tokenStorage.getUser()?.hasProfilSuperAdmin()"
              (click)="goToUrl(['administration', 'abonnements'])">
        <mat-icon  color="primary">filter_drama</mat-icon>
        Abonnements
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<ul class="nav-bar" *ngIf="tokenStorage?.isValid()">
  <li (click)="goToUrl(['account'])"
      [class.isActive]="TITLES.ACCOUNT.code == urlCurrent">
    <mat-icon color="primary">account_circle</mat-icon>
    <span class="text">Mon profil</span>
  </li>
  <li (click)="goToUrl(['abonnements'])"
      [class.isActive]="TITLES.ABONNEMENTS.code == urlCurrent
      || TITLES.PAIEMENT.code == urlCurrent
      || TITLES.BOOKMAKERS.code == urlCurrent">
    <mat-icon color="primary">filter_drama</mat-icon>
    <span class="text">Abonnements</span>
  </li>
  <li (click)="goToUrl(['home'])"
      [class.isActive]="TITLES.HOME.code == urlCurrent">
    <mat-icon color="primary">home</mat-icon>
    <span class="text">Accueil</span>
  </li>
  <li (click)="goToUrl(['bilan'])"
      [class.isActive]="TITLES.BILAN.code == urlCurrent">
    <mat-icon color="primary">bar_chart</mat-icon>
    <span class="text">Bilan</span>
  </li>
  <li (click)="goToUrl(['support'])"
      [class.isActive]="TITLES.MENTIONS_LEGALES.code == urlCurrent
      || TITLES.CONTACTS.code == urlCurrent
      || TITLES.SUPPORT.code == urlCurrent
      || TITLES.AIDES.code == urlCurrent">
    <mat-icon color="primary">help</mat-icon>
    <span class="text">Support</span>
  </li>
</ul>
