
img.categorie {
  width: 30px;
  vertical-align: middle;
  margin-right: 10px;
}

.no-result {
  margin-top: 1em;
}
div.periode {
  text-align: center;
  color: orange;
  vertical-align: middle;
  padding: 10px;
  margin: 1em 0;

  mat-icon, div {
    vertical-align: middle;
    display: inline-block;
  }

  mat-icon {
    cursor: pointer;
    padding: 0 10px;
  }
}

form {
  max-width: none;
}

.recherche {
  margin: 1em 0;
  text-align: center;
  mat-form-field {
    width: calc(50% - 2em);
    margin: 0 15px 0 5px;
    display: inline-block;
    padding-bottom: 0;

    div.mat-form-field-wrapper {
      padding-top: 0;
    }
  }



  button {
    display: inline-block;
    text-align: center;

    mat-icon {
      margin: 0;
    }
  }
}
.chart {
  padding-bottom: 1em;
}

.block {
  background: #242424;

  &.nb-paris {
    margin-right: 0;
  }

  &.nb-paris,
  &.benefice {
    width: calc(50% - 6em + 7px);
    display: inline-block;
    padding: 2em;
    text-align: center;
    vertical-align: middle;

    span,
    label {
      display: block;
    }

    span {
      font-weight: bold;
      color: orange;
      margin-bottom: 3px;
    }
  }
}

