/* import only the necessary Bootstrap files */
$primary: #d84315;
$secondary:orange;
$danger: #d6180b;
$success: #008000;
$warning: orange;
$info: #0066B2;
$bg-light-grey: rgba(169, 169, 169, 0.13);
$dark: #242424;
$body-bg: #4c4c4c;

$COLOR_FONT_DARK: #191919;
$COLOR_FONT_LIGHT: #4c4c4c;

$COLOR_ORANGE_LIGHT: orange;
$COLOR_ORANGE_DARK: #d84315;
$COLOR_ORANGE_DARK2: #ef6c00;
$COLOR_BLACK: #202020;
$COLOR_BLACK_DARK: #000000;
$COLOR_BLACK_LIGHT: #242424;
$COLOR_BLUE_PROTYS: #0066B2;
$COLOR_BLUE_GRADIENT_END: #0080c8;
$COLOR_BLUE_DARK: #0068b4;
$COLOR_BLUE_LIGHT: #00b0eb;
$COLOR_BLUE_HOVER: #80e5ff;
$COLOR_BLUE_FOCUS: #cceffb;
$COLOR_BLUE_GRAY: #EEF2F5;
$COLOR_WHITE: #ffffff;
$COLOR_GRAY_DARK: #5f686f;
$COLOR_GRAY_MEDIUM: #C6C8CA;
$COLOR_GRAY_LIGHT: #cccccc;
$COLOR_GRAY_VERY_LIGHT: #e5e5e5;
$COLOR_GRAY_BACKGROUND: #dfdfdf;
$COLOR_GRAY_BACKGROUND_LIGHT: #eeeeee;
$COLOR_GREEN: #83a914;
$COLOR_GREEN_DARK: #008000;
$COLOR_YELLOW: #FBD33C;
$COLOR_ORANGE: #ed7302;
$COLOR_RED: #f82e2e;
$COLOR_RED_DARK: #d42f2f;
$COLOR_ROW_ALT: #e5f0f7;
$COLOR_INPUT: #f8fcff;
$COLOR_INPUT_DISABLED: #d0d0d0;
$COLOR_PLACEHOLDER: #999;

$COLOR_SUCCESS: $COLOR_GREEN;
$COLOR_ERROR: #f44336;
$COLOR_WARNING: $COLOR_ORANGE;
$COLOR_INFO: $COLOR_BLUE_PROTYS;


/*
	CATEGORIES DE RESEAUX
*/

$COLOR_RESEAU_GAZ_COMBUSTIBLE: #FBD33C;
$COLOR_RESEAU_DECHETS: #5f686f;
$COLOR_RESEAU_EAU: #017cc6;
$COLOR_RESEAU_ELECTRIQUE: #ed1c22;
$COLOR_RESEAU_ASSAINISSEMENT: #a36208;
$COLOR_RESEAU_CHAUFFAGE: #78599d;
$COLOR_RESEAU_TRANSPORT: #aaaaaa;
$COLOR_RESEAU_GAZ_CHIMIQUE: #f88f1d;
$COLOR_RESEAU_GAZ_LIQUIDE: #5f686f;
$COLOR_RESEAU_AUTRE: #5f686f;
$COLOR_RESEAU_PHONE: #00a88f;
