.block {
  text-align: center;
  color: white;
  padding: 1em;
  max-width: 22em;
  margin: 1em auto;
  background: #242424;

  span {
    display: block;
  }

  .label-abonnement {
    color: orange;
    margin: 10px 0;
  }
}

.label-choice {
  color: orange;
}

h2 {
  text-align: center;
  font-weight: 500;
  color: #d84315;
  padding-bottom: 1em;
  text-transform: uppercase;
}

div.block-abo {
  background: none;
  text-align: center;
  max-width: 22em;
  margin: 0 auto;

  mat-card-actions {
    font-size: 0.9em;
  }

  .abo-description {
    padding-top: 2em;
    font-style: italic;
  }


  .mat-card {
    color: white;
    display: inline-block;
    background: #242424;
  }

  mat-card-content {
    text-align: center;
  }

  .picto-price {
    width: 15px;
    height: 15px;
    border: 2px solid orange;
    border-radius: 30px;
    padding: 21px 10px;
  }
}

.action-link {
  text-align: left;
}
