
<div class="block-larg-screen d-flex flex-lg-row flex-column justify-content-center" *ngIf="user">
  <div class="block info mx-auto mx-lg-3 mb-0">
    <h3>{{user.login}}</h3>

    <div  *ngIf="logoDataUrl">
      <img [src]="user.logoDataUrl()" alt="logo" class="border-secondary rounded-circle border-1" width="100px"/>
    </div>

    <div class="line">
      <mat-icon [matTooltip]="user.lastConnectionDate | date:'DD-MM-YYYY hh:mm'">new_releases</mat-icon>
      <label>Dernière activité</label>
      <span class="last-connexion">{{user.lastConnectionDate | date:'DD-MM-YYYY'}}</span>
    </div>

    <div class="line">
      <mat-icon matTooltip="Pour chaque amis parrainé, recevez, vous et votre amis, 2 jours de VIP">star</mat-icon>
      <label>Code parrain</label>
      <span>{{user.codeParrain}}</span>
    </div>

    <div class="line line-slide">
      <mat-icon matTooltip="Permet de bloquer ce joueur">block</mat-icon>
      <label>Compte {{user.isEnabled ? 'activé' : 'bloqué'}}</label>
      <span class="span-slide" *ngIf="user">
        <mat-slide-toggle
          color="primary"
          [(ngModel)]="user.isEnabled"
          (change)="changeStatusUser(user)"
          [disabled]="!tokenStorage.getUser()?.hasProfilSuperAdmin()">
        </mat-slide-toggle>
      </span>
    </div>

    <div class="line">
      <mat-icon>tag_faces</mat-icon>
      <label>Compte Facebook</label>
      <span class="span-slide" *ngIf="user">
        <mat-slide-toggle
          color="primary"
          [(ngModel)]="user.isUserFB"
          disabled>
        </mat-slide-toggle>
      </span>
    </div>

    <div class="line">
      <mat-icon>{{ user.hasNotification ? 'notifications_active' : 'notifications_off' }}</mat-icon>
      <label>Notifications</label>
      <span class="span-slide" *ngIf="user">
        <mat-slide-toggle
          color="primary"
          [(ngModel)]="user.hasNotification">
        </mat-slide-toggle>
      </span>
    </div>
    <div class="line" *ngIf="tokenStorage.getUser()?.hasProfilAdmin()">
      <mat-icon matTooltip="Permet l'ajout de code promotionel">star_half</mat-icon>
      <label>Code bonus</label>
      <button class="valider"
              name="btn-add-code-vip"
              mat-button color="primary" (click)="addCodeVIP()">
        Ajouter
      </button>
    </div>

    <div class="line" *ngIf="tokenStorage.getUser()?.hasProfilAdmin()">
      <mat-icon matTooltip="La photo que les autres joueurs verront">add_a_photo</mat-icon>
      <label>Photo de profil</label>
      <file-base64
        inputId="info-entite-logo"
        [allowedMimeTypes]="[ 'image/jpeg', 'image/png', 'image/gif' ]"
        [allowedExtensions]="[ 'JPEG', 'JPG', 'PNG', 'GIF' ]"
        [maxFileSize]="MAX_LOGO_SIZE"
        (onFileRead)="changeLogo($event)">
      </file-base64>
    </div>

    <div class="line" *ngIf="tokenStorage.getUser()?.hasProfilAdmin()">
      <mat-icon matTooltip="Le nom que les autres joueurs verront">account_circle</mat-icon>
      <label>{{user.pseudonyme}}</label>
      <button class="valider"
              mat-button
              name="btn-change-speudo"
              color="primary" (click)="changePseudo()"
              [disabled]="!tokenStorage.getUser()?.hasProfilSuperAdmin()">
        Changer
      </button>
    </div>

    <div class="line" *ngIf="tokenStorage.getUser()?.hasProfilAdmin()">
      <mat-icon>lock</mat-icon>
      <label>Mon mot de passe</label>
      <button class="valider"
              name="btn-update-password"
              mat-button
              color="primary"
              (click)="updatePassword()"
              [disabled]="!tokenStorage.getUser()?.hasProfilSuperAdmin()">
        Changer
      </button>
    </div>
  </div>
  <div class="">
    <div class="block info-vip">
      <h3>Information(s) VIP</h3>
      <div class="blcok-vip" *ngIf="user.hasProfilVIP()">
        <img class="picto-vip" [src]="vip.img" [alt]="vip.code"/>
        <label class="message-vip">{{getMessageVIP()}}</label>
        <span class="expire-vip-label" *ngIf="user.expiredVIPDate">Expire le {{user.expiredVIPDate | date:'DD JANVIER YYYY à hh:mm'}}</span>
        <button mat-button color="primary"
                name="btn-change-date-exp"
                *ngIf="tokenStorage.getUser()?.hasProfilSuperAdmin() && user?.expiredVIPDate"
                (click)="showChangeExpiredVIPDate = !showChangeExpiredVIPDate">
          Changer la date d'expiration
        </button>
        <div class="form-new-expired-date-vip" *ngIf="showChangeExpiredVIPDate">
          <mat-form-field>
            <input matInput
                   [matDatepicker]="dateDebutPicker"
                   placeholder="Date de fin VIP'"
                   readonly
                   required
                   #debutDate="ngModel"
                   (focus)="dateDebutPicker.open()"
                   [(ngModel)]="newDateExpiredVIP"
                   name="dateDebutPicker">
            <mat-datepicker-toggle matSuffix [for]="dateDebutPicker" color="accent"></mat-datepicker-toggle>
            <mat-datepicker #dateDebutPicker color="accent"></mat-datepicker>
          </mat-form-field>
          <button class="valider"
                  mat-button
                  color="primary"
                  name="btn-change-exp-date"
                  (click)="onChangeExpiredVIPDate()">
            Changer
          </button>
        </div>
      </div>
    </div>
    <div class="block code-bonus">
      <h3>Code(s) Bonus utilisé(s)</h3>
      <ng-container *ngIf="user.codesVIP">
        <div *ngFor="let codeVIP of user.codesVIP">
          <span>{{codeVIP.titre}} <strong> | </strong> {{codeVIP.code}}  <strong> | </strong> {{codeVIP.nbJoursVIP}}</span>
        </div>
        <button mat-button
                color="primary"
                name="btn-add-code-vip"
                (click)="addCodeVIP()">
          Ajouter un Code Bonus
        </button>
      </ng-container>
      <p class="no-result" *ngIf="!user.codesVIP">Aucun Code Bonus</p>
    </div>
  <div class="block profils" *ngIf="tokenStorage.getUser()?.hasProfilSuperAdmin()">
    <h3>Profils</h3>
      <ul>
        <li *ngFor="let profil of listProfils">
          <mat-checkbox [checked]="user.profils.includes(profil)"
                        (click)="addProfilSelected(profil)"
                        name="profils">
            {{profil.label}}
          </mat-checkbox>
        </li>
      </ul>
    <button
      mat-button
      color="primary"
      name="btn-pronostiqueur"
      (click)="changeProfilForUser()">
      Enregistrer
    </button>
  </div>
  <div class="block delete-compte" *ngIf="tokenStorage.getUser()?.hasProfilSuperAdmin()">
    <button mat-button
            name="btn-delete-compte"
            color="primary"
            (click)="deleteCompte()">
      Supprimer ce compte
    </button>
  </div>
  <div class="action">
      <button mat-stroked-button
              color="warn"
              class="retour"
              name="btn-go-to-gestion"
              (click)="goToGestionUser()"
              type="button">
          Retour
      </button>
  </div>
  </div>

</div>
